@import '../../scss/global/mixins';

.c-Header {
  background-color: var(--blue);

  &--wrapper {
    width: var(--main-container-size);
    padding: var(--c-09) var(--c-07);
    margin: 0 auto;
    display: flex;

    @include for-tablet-down {
      flex-flow: column nowrap;
    }
  }

  h1 {
    font-size: var(--txt-super);
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    margin-bottom: var(--c-06);

    @include for-laptop-down {
      font-size: 9vw;
    }

    @include for-tablet-down {
      font-size: var(--txt-lg);
    }
  }

  // Links logic for showcase pages

  .links--wrapper {
    a {
      font-weight: 700;
      color: #ffffff;
      text-align: left;
      line-height: 1;
      font-size: var(--txt-md);
      text-decoration: none;
      display: inline-block;
      margin-right: var(--c-09);
      position: relative;

      @include for-laptop-down {
        font-size: var(--txt-sm);
        margin-right: var(--c-07);
      }

      &:last-of-type {
        margin: 0;
      }

      &::after {
        content: '';
        height: 3px;
        background-color: #ffffff;
        width: 100%;
        left: 0;
        bottom: calc(var(--c-04) * -1);
        position: absolute;
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.1s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
        transform: translateY(0);
      }

      &.selected::after,
      &.selected:hover::after {
        opacity: 1;
        transform: translateY(0);
        transition: none;
      }
    }
  }

  .col-left,
  .col-right {
    flex: 1;
  }

  .col-left {
    padding: 0 var(--l-05) 0 0;
  }

  .col-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 0 var(--l-05);

    img {
      max-width: 530px;
      width: 85%;

      @include for-laptop-down {
        max-width: 70%;
      }
    }
  }

  @include main-container-break {
    .col-left {
      padding: 0 var(--l-03) 0 0;
    }

    .col-right {
      padding: 0 0 0 var(--l-03);
    }
  }

  @include for-tablet-down {
    .col-right {
      padding: 0;

      h2 {
        font-size: var(--txt-sm);
        margin-top: var(--c-04);
      }

      &.hide {
        display: none;
      }
    }
  }
}