.c-LightBox {
  background-color: #ffffff;
  border-radius: var(--c-02);
  padding: var(--c-07);
  margin-top: 5vh;
  position: relative;
  min-width: 720px;
  min-height: 95vh;

  @include for-tablet-down {
    min-width: unset;
    margin: 5vh var(--l-01) 0 var(--l-01);
    width: 100%;
  }

  .c-LightBox-icon {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    &[data-icon-type="close"] {
      background-color: #F86767;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: absolute;
      top: 25px;
      right: 25px;

      svg {
        width: 22px;
        height: auto;
      }


      @include for-tablet-down {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 17px;
        }
      }
    }
  }
}

.c-LightBox--container {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(#444444, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;

  .image--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}