.c-Button {
  display: inline-block;
  background-color: var(--blue);
  border-radius: 100px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: var(--c-04) var(--c-07);
  font-size: var(--txt-base);
  line-height: 1;
}