:root {
  // Component Spacing
  // (Spacing units use within components)
  --c-01: 0.15rem;
  --c-02: 0.25rem;
  --c-03: 0.5rem;
  --c-04: 0.75rem;
  --c-05: 1rem;
  --c-06: 1.5rem;
  --c-07: 2rem;
  --c-08: 2.5rem;
  --c-09: 3rem;

  // Layout Spacing
  // (Spacing units for layout)
  --l-01: 1rem;
  --l-02: 1.5rem;
  --l-03: 2rem;
  --l-04: 3rem;
  --l-05: 4rem;
  --l-06: 6rem;
  --l-07: 10rem;
}