:root {
  --primary-font: 'brandon-grotesque', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --black: #444444;
  --grey: #888888;
  --light-grey: #EAEAEA;
  --blue: #34bbdb;

  --main-container-size: 1430px;
}