.c-ScrollToButton {
  @include buttonReset;
  height: var(--l-04);
  width: var(--l-04);
  border-radius: 50%;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  right: var(--l-02);
  bottom: var(--l-02);
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxShadow);
  transition: opacity 0.250s ease-in-out;

  svg {
    height: var(--l-01);
  }

  @include for-phone-only {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
  }

}